{%extends 'client/_main.html' %}
{% load i18n %}

{% block content %}
    <div class='container bg-white shadow mt-5 p-5 form-layout text-center'> 
        <h3>{% translate "Cancel subscription" %}</h3>
        <hr>
        <p> {%translate 'Are you sure you want to cancel your subscription?'%} </p>

        <form method="POST" autocomplete="OFF" class="mt-5">
            {% csrf_token %}

            <h5> {{ subscription_plan }} {% translate 'subscription' %} </h5>


            <div class= "d-flex justify-content-between align-items-center mt-5">
                <input class="btn btn-danger" type="submit" value="{% translate 'Remove your subscription'%}">
                <a href ="{% url 'update-client' %}" class="btn btn-success">
                    {% translate 'Return' %}
                </a>
            </div>
        </form>
    </div>
{% endblock %}

