{% extends "client/_main.html" %}
{% load i18n %}



{% block content %}

    <div class="container bg-white shadow mb-4 mt-5 p-5 form-layout text-center">
        <h5> {% translate subscription_plan %} {% translate 'subscription activated!' %} </h5>
        <hr>

        <p>
            {% translate 'Thanks for subscribing' %}
            {% translate 'You can now browse articles available to this Subscription plan.' %}
        </p>

        <p>
            <a href="{% url 'browse-articles' %}" class = "btn btn-info">
                {% translate 'Browse articles' %}
            </a>
        </p>

    </div>

{% endblock %}